*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
}
header,aside,main,footer{
    padding: 10px;
    text-align: center;
}
header{
    background: #580367;
    align-items: center;
}
aside{
    background: #e35c8b;
    font: 30%;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #580367;
}
footer{
    background: rgb(7, 0, 2);
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
main{
    margin: 200px;
    align-items: center;
    font-size: 110%;
}
.navigation-item{
    margin: 0 20px;
}

.navigation-item a {
    text-decoration: none;
    color: white;
}

.navigation-item a:hover,
.navigation-item a:active{
    color: #ffaf6d;
}